<div class="container m-5 d-flex justify-content-between">
    <div class="card bg-danger" style="width: 18rem;" (click)="openModal=true">
      <div class="card-body">
        <p class="card-text text-center text-white disabled">Eager Loading</p>
      </div>
    </div>
    <div class="card bg-warning" style="width: 18rem;" (click)="openModal=true">
      <div class="card-body">
        <p class="card-text text-center">Lazy Loading</p>
      </div>
    </div>
    <div class="card bg-success" style="width: 18rem;" (click)="openModal=true">
      <div class="card-body">
        <p class="card-text text-center text-white disabled">Pre Loading</p>
      </div>
    </div>
</div>

<app-modal *ngIf="openModal" (closeEvent)="closeEvent()"></app-modal>
