<div class="container m-5 d-flex justify-content-between">
    <div class="card bg-danger" style="width: 18rem;" routerLink="dashboard">
      <div class="card-body">
        <p class="card-text text-center text-white disabled">Eager Loading</p>
      </div>
    </div>
    <div class="card bg-warning" style="width: 18rem;" routerLink="/products">
      <div class="card-body">
        <p class="card-text text-center">Lazy Loading</p>
      </div>
    </div>
    <div class="card bg-success" style="width: 18rem;" routerLink="/cart">
      <div class="card-body">
        <p class="card-text text-center text-white disabled">Pre Loading</p>
      </div>
    </div>
</div>